body {
    background-image: url(Space_Image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.clockContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;

}

#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(99, 97, 97, 0.1);
}

@media (max-width: 600px) {
    #clock {
        max-width: 100%;
        text-align: center;
        font-size: 3.5rem;
        box-sizing: border-box;
    }
}